@tailwind base;
@tailwind components;
@tailwind utilities;
 .name {
    color: transparent;
 }

.name::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    color: green; 
    display: block;
    transform-origin: left bottom;
    transition: top .5s; 
}

.group:hover .name::before {
    top: 0%; 
}

.name::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: 0%;
    white-space: nowrap;
    color: red; 
    display: block;
    transform-origin: left top; 
    transition: bottom .5s; 
 
}

.group:hover .name::after {
    bottom: 100%; 
}




/* .thumbnail {
    content: "";
    background: url("https://new.axilthemes.com/demo/template/blogar/assets/images/icons/shape-01.png");
    height: 77px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -3px;
    z-index: 5;
    background-position: center center;
    background-size: cover;
} */